
.vs/Miniville/v15/Server/sqlite3/db.lock
.vs/Miniville/v15/Server/sqlite3/storage.ide
.vs/Miniville/v15/Server/sqlite3/storage.ide-shm
.vs/Miniville/v15/Server/sqlite3/storage.ide-wal
obj/Debug/netcoreapp3.1/Miniville.assets.cache
obj/Debug/netcoreapp3.1/Miniville.csprojAssemblyReference.cache
obj/Miniville.csproj.nuget.cache
obj/Miniville.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp3.1/Miniville.assets.cache
obj/Debug/netcoreapp3.1/Miniville.csprojAssemblyReference.cache
obj/Miniville.csproj.nuget.g.props
obj/project.assets.json
obj/project.assets.json
obj/Miniville.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/Miniville.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Miniville.assets.cache
.vs/Miniville/v16/.suo
.vs/Miniville/v15/.suo
.vs/Miniville/DesignTimeBuild/.dtbcache
obj/project.assets.json
obj/Miniville.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/Miniville.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Miniville.assets.cache
.vs/Miniville/v16/.suo
bin/
obj/